PROJECT_NAME=agroconnect
DOMAIN=localhost

# Ports
NGINX_HTTP_PORT=8080
FRONTEND_PORT=8081
GATEWAY_PORT=8080

# DB / Cache / Object store (enable when needed)
POSTGRES_USER=agro
POSTGRES_PASSWORD=agro_pass
POSTGRES_DB=agro_master
POSTGRES_PORT=5432
REDIS_PORT=6379
MINIO_ROOT_USER=agroadmin
MINIO_ROOT_PASSWORD=agroadminpass
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
